@* @model ForumsPorject.Models.InputUtilisateur *@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - La_Terre</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ForumsProject.styles.css" asp-append-version="true" />
    <style>
        .p-nav {
            font-size: 18px;
            color: #fff;
            background: linear-gradient(#006414, #006414);
        }

        .auth-link {
            transition: background-color 0.3s;
        }

            .auth-link:hover {
                background-color: #27a3df;
            }

        .rounded-image {
            border-radius: 50%;
            width: 50px; /* Ajustez la taille selon vos besoins */
            height: 50px;
            object-fit: cover; /* Assurez-vous que l'image est bien ajustée dans le cercle */
        }
    </style>
</head>
<body>
    <header>
        <nav class="p-nav navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-white auth-link" asp-area="" asp-controller="Home" asp-action="Index">Terre Fertile</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="auth-link nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="auth-link nav-link text-white" asp-area="" asp-controller="Utilisateur" asp-action="Index">Membres</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            @if (!string.IsNullOrEmpty(Context.Request.Cookies["Cheminavatar"]))
                            {
                                <img src="@Context.Request.Cookies["Cheminavatar"]" @* alt="Avatar" *@ class="rounded-image" />
                            }
                        </li>
                        <br/>
                       <li class="nav-item">
                            <a class="auth-link nav-link text-white" asp-area="" asp-controller="Utilisateur" asp-action="Lgout" method="post">Déconnexion</a>
                       </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container p-nav">
            &copy; 2023 - Polytech Intl - <a asp-area="" asp-controller="Home" asp-action="Privacy">Nasr Manel</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
