@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<style>
   
 
    .p-pageWrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background: #f8f9fa;
        margin: auto;
        width: 100%; 
    }

    .block-h1 {
        font-size: 46px;
       
        font-weight: bold;
        text-align: center;
        margin-top: 3%;
  
        color: red;
    }
    .balisep {
        font-size: 26px;
        align-items: center;

    }
</style>

<div class="text-center p-pageWrapper">
    <h1 class="display-4 block-h1">Une erreur s'est produite</h1>
    <br/>
    <p class="balisep">@ViewData["ErrorMessage"]</p>
</div>