@model ForumsPorject.Models.ThemeModel
@{
    ViewData["Title"] = "Delete";
}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Accueil</a></li>
        <li class="breadcrumb-item"><a href="/">Forum</a></li>
        <li class="breadcrumb-item"><a href="/">Theme</a></li>
        <li class="breadcrumb-item active" aria-current="page">Supprimer</li>
    </ol>
</nav>
<style>
 .p-pageWrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background: #f8f9fa;
    }

    .rounded-image {
        border-radius: 50%;
        width: 50px; /* Ajustez la taille selon vos besoins */
        height: 50px;
        object-fit: cover; /* Assurez-vous que l'image est bien ajustée dans le cercle */
    }

    .block-container {
        color: #4b4c4c;
        background: #fff;
        border: 1px solid #edf0f0;
        border-radius: 4px;
        width: 95%; /* Ajuster la largeur selon vos besoins */
        margin: 5% auto; /* Centrez le bloc horizontalement */
    }

    .block-header {
        padding: 15px 15px;
        margin: 0;
        text-decoration: none;
        font-size: 20px;
        text-align: left;
        color: #f1f3f4;
        font-weight: 400;
        background: linear-gradient(#d96500, #a64e02);
    }

    {
        box-sizing: border-box;
    }

    .block-body {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    table {
        width: 100%; /* Utilisez 100% pour que le tableau occupe toute la largeur du conteneur */
    }

</style>
<div class="text-center p-pageWrapper">
    <h1 class="block-h1">Voulez vous supprimer ce Theme?</h1>

    <div class="block-container">

        <hr />
        <div class="row justify-content-center">
            <div class="col-md-6">

                <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />

                    <div class="form-group">
                        
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    </br>
                    <div class="form-group">
                        
                        <input asp-for="Date" class="form-control" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    </br>

                    <div class="form-group">

                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                   
                    </br>
                    
                    <div class="form-group">
                        <input type="submit" value="Supprimer" class="btn btn-warning" />
                    </div>
                    </br>
                </form>
            </div>
        </div>
    </div>
</div>
